// Centering Horizontally and Vertically using flex-box
@mixin flex-center-h-v {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Square
@mixin square($length) {
    height: $length;
    width: $length;
}