// -----------------------------------------------------------------------------
// This file contains all application-wide (Custom CSS/ SASS) variables.
// -----------------------------------------------------------------------------

/**
 * We used Custom CSS variables because:
 * They can be manipulated in javascript
 * We can edit them in dev tools
 * It's easier to use them in the calc() function
 * Css variables cascade and they are inherited
*/

:root {
    /// Regular font family
    --text-font-stack: 'Open Sans', 'Segoe UI', Verdana, sans-serif;

    /// Primary colors
    --primary-clr: #eb2f64;
    --primary-light: #FF3366;
    --primary-dark: #BA265D;

    /// Yellow Colors
    --yello-1: #ffbc00;
    --yello-2: #ffb900;

    /// Orange Colors
    --orange-1: #ff7730;
    --orange-2:#d64b00;

    /// Blue Colors
    --blue-1: #2998ff;
    --blue-2: #5643fa;
    --blue-3: #221785;

    /// Grey-light Colors
    --light-1: #faf9f9;
    --light-2: #f4f2f2;
    --light-3: #f0eeee;
    --light-4: #ccc;

    /// Grey-dark Colors
    --dark-1: #333;
    --dark-2: #777;
    --dark-3: #999;
}