////////////////////////////////////////////////////////////////
// Overall layout
.details {
    display: flex;
    padding: 50px;
    background: var(--light-1);
    border-bottom: var(--line-1);

    // Media Queries
    @media only screen and (max-width: 1100px) {
        font-size: 14px;
    }

    @media only screen and (max-width: 1000px) {
        padding: 2rem;
    }

    @media only screen and (max-width: 800px) {
        padding: 1rem;
    }

    // Phones view
    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
}

////////////////////////////////////////////////////////////////
// Description Block
.description {
    flex: 0 0 60%;
    margin-right: 60px;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 20px 50px 0 rgba(#000, .1);

    @media only screen and (max-width: 1000px) {
        margin-right: 2.5rem;
    }

    @media only screen and (max-width: 800px) {
        margin-right: 1.5rem;
        box-shadow: 0 15px 20px 0 rgba(#000, .1);
    }

    @media only screen and (max-width: 600px) {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    @media only screen and (max-width: 375px) {
        font-size: 12px;
        padding: 1rem;
    }

    &__text:not(:last-of-type) {
        margin-bottom: 1.2rem; 
    }

    &__list {
        margin: 2rem 0;
        padding: 1.5rem 0;
        border-top: var(--line-2);
        border-bottom: var(--line-2);
        display: flex;
        flex-wrap: wrap;

        &-item {
            flex: 0 0 50%;
            display: flex;
            align-items: center;

            @media only screen and (max-width: 375px) {
                font-size: 12px;
            }

            &:not(:nth-child(7)):not(:nth-child(8)) {
                margin-bottom: .5rem;
            }

            // Adding the icons
            &::before {
                content: "";
                display: inline-block;
                @include square(14px);
                margin-right: .5rem;

                // Older Browsers
                background-image: url('../img/SVG/chevron-thin-right.svg');
                background-size: cover;

                // Newer Browsers (masks)
                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background: none;
                    background-color: var(--primary-clr);
                    mask-image: url('../img/SVG/chevron-thin-right.svg');
                    mask-size: cover;
                    -webkit-mask-image: url('../img/SVG/chevron-thin-right.svg');
                    -webkit-mask-size: cover;
                }

                @media only screen and (max-width: 375px) {
                    @include square(13px);
                    margin-right: .2rem;
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////////
// Reviews Block
.user-reviews {
    flex: 1;
    background: inherit;
    display: flex;
    flex-direction: column;

    &__btn {
        font-size: 1rem;
        align-self: center;
    }
}