.header {
    // Header global styling
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
    background: #fff;
    border-bottom: var(--line-1);

    @media only screen and (max-width: 600px) {
        flex-wrap: wrap;
        height: auto;
        padding: .5rem 1rem;
    }
}