.btn {
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    background: linear-gradient(to right bottom, var(--primary-light), var(--primary-dark));
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 100px;
    transition: all .3s;

    &-small {
        padding: 0;
        text-transform: none;
        color: var(--primary-clr);
        background: transparent;
        border-radius: 0%;
        border-bottom: 1px solid currentColor;
        transition: color .2s;

        &:hover {
            color: var(--dark-1);
        }

        &:focus {
            animation: pulsate 1s 3;
        }
    }
}