.btn {
    display: inline-block;
    // padding: 1rem 3rem;
    text-transform: uppercase;
    background: linear-gradient(to left, var(--primary-light), var(--primary-dark));
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 100px;
    transition: all .3s;

    // for the btn__hidden btn__visible styling
    overflow: hidden;
    position: relative;
    
    &__visible, &__hidden {
        transition: all .2s;
        display: inline-block;
        height: 100%;
        width: 100%;
        font-size: 17px;
        font-weight: 300;

        @media only screen and (max-width: 1000px) {
            font-size: 15px;
        }
    }
    
    &__visible {
        padding: 1rem 5rem;
    }

    &__hidden {
        position: absolute;
        top: -100%;
        left: 0;
        padding: 1rem 0;
    }

    &__arrow {
        margin-left: 3px;
        transition: margin .3s;
        backface-visibility: hidden;
    }

    &-small {
        padding: 0;
        text-transform: none;
        color: var(--primary-clr);
        background: transparent !important;
        border-radius: 0%;
        border-bottom: 1px solid currentColor;
        transition: color .2s;

        &:hover {
            color: var(--dark-1);
        }
    }

    // Hover effects
    &:hover {
        background: linear-gradient(to right, var(--primary-light), var(--primary-dark));
    }

    &:hover {
        &__arrow {
            margin-left: 7px;
        }
    }

    &:hover &__visible {
        transform: translate(0,100%);
    }

    &:hover &__hidden {
        top: 0;
        left: 0;
    }

    // Focus effects
    &:focus {
        animation: pulsate 1s 3;
    }
}