.cta {
    padding: 35px 0;
    text-align: center;

    &__caption {
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 1.5rem;
        padding: 0 2rem;

        @media only screen and (max-width: 1000px) {
            font-size: 18px;
        }

        @media only screen and (max-width: 600px) {
            font-size: 1rem;
            margin-bottom: .9rem;
        }
    }

    @media only screen and (max-width: 1000px) {
        padding: 1.5rem 0;
    }
}