// -------------------------------------------------------------
// This file contains the styling of the hotel images (gallery)
// -------------------------------------------------------------
.gallery {
    display: flex;

    &__item {
        position: relative;
        overflow: hidden;

        // Overlay Styling
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .9;
            transform: scale(2) translate(-75%, -65%) rotate(-28deg);
            transition: transform .7s cubic-bezier(1, 1, 0, 1);;
        }

        // Different overlays for different items
        &--1::after {
            background: var(--primary-clr);
        }
        &--2::after {
            background: var(--blue-1);
        }
        &--3::after {
            background:var(--yello-1);
        }

        // Hover Effects
        &:hover {

            // Brining the overlay
            &::after {
                transform: scale(2) translate(0, 0) rotate(-28deg);
            }

            // Showing the text
            & > .gallery__caption {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                z-index: 10;
            }
        }
    }

    // ----------------------------------------------------------------------------------------------
    // Here I found a problem (which I already faced before)
    // the image adds a margin/padding to the bottom automatically
    //
    // I found the solution to that problem on stack overflow:
    // solution 1: set { font-size: 0; line-height: 0; } to the parent element
    // solution 2: display the img as a block element
    //
    // Link: https://stackoverflow.com/questions/12356351/images-not-taking-up-100-of-div-height
    //
    // I'll use the second solution because the parent element also contains a text (which will be effected in the 1st solution)
    // ----------------------------------------------------------------------------------------------
    &__img {
        display: block;
    }

    &__caption {
        // Positioning
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        // Text centering
        @include flex-center-h-v;
        flex-direction: column;
        
        // Typography
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        
        // Hiding text
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: .3s .3s all;

        // Icon 
        &--icon {
            margin-bottom: .5rem;
        }

        // Text
        &--text {
            font-weight: 300;
            font-size: 1.5rem;
            width: 50%;
            line-height: 1;
        }
    }
}