// Logo Styling
.logo {
    display: inline-block;
    width: 3.5rem;
    line-height: 0;
    font-size: 0;

    @media only screen and (max-width: 600px) {
        width: 2.7rem;
    }
}

// Icon Styling
.icon {
    display: inline-block;
    @include square(25px);
}