.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line-2);
    height: 70px;
    
    &__heading {
        font-size: 22px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0 1rem 0 1.5rem;

        @media only screen and (max-width: 600px) {
            font-size: 18px;
            margin: 0 .6rem 0 .8rem;
        }
    }

    &__stars {
        // Automatically calculated margin(right)
        // Such that all flex elements will occupy all the width of the flex conteiner 
        margin-right: auto;
    }

    &__location {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        font-size: 14px;

        @media only screen and (max-width: 600px) {
            font-size: 13px;
            margin: 0 .6rem 0 .8rem;
        }

        &-icon {
            @include square(22px);
            fill: var(--primary-clr);
            
            @media only screen and (max-width: 600px) {
                @include square(18px);
            }
        }
    }

    &__rating {
        background: var(--primary-clr);
        color: #fff;
        margin-left: 1rem;
        @include flex-center-h-v;
        flex-direction: column;
        align-self: stretch; //height: 100%;
        width: 85px;
        text-transform: uppercase;

        &-average {
            font-size: 25px;
            font-weight: 100;

            @media only screen and (max-width: 600px) {
                font-size: 20px;
            }
        }

        &-count {
            font-size: 11px;
            font-weight: 100;

            @media only screen and (max-width: 600px) {
                font-size: .6rem;
            }
        }
    }
}