.user-nav {
    // User navigation Styling
    align-self: stretch; // like height: 100%;
    display: flex;

    // Children common styling
    & > * {
        padding: 0 1rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            background: var(--light-2);
        }
    }

    // Icon box contains the icon and the notification
    &__icon-box {
        position: relative;
        padding: 0;
        width: 4rem;
        @include flex-center-h-v;
    }

    // Icons: chat, bookmark
    &__icon {
        height: 25px;
        width: 25px;
        fill: var(--dark-2);
    }

    // Notification span styling
    &__notification {
        // Styling
        font-size: .7rem;
        color: #fff;
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 50%;
        background: var(--primary-clr);

        // Positioning
        position: absolute;
        top: .6rem;
        right: .8rem;

        // Centering text
        @include flex-center-h-v;
    }

    // User Profile
    &__profile {
        &-img {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: .7rem; // Moving the Name away
        }
    }
}