// Reset
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: var(--light-1);
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
}

input {
    // input tags doesn't inherit font-family neither the font-size of the global document.
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}